<div class = "nested-fields">
  <%= f.association :product, required: false, :selected => '' %>
  <%= f.input :amount, input_html: {value: f.object.amount || 'nil'} %>
  <%= link_to_remove_association button_tag("Remove Ingredient", type: "button", class: "btn btn-danger"), f %>
</div>
